%h2 Perfil de usuario

= image_tag("#{@user.profile_image}")

= form_tag users_path, :method => :post do

  = label :user, :name, 'Nombre'
  = text_field :user, 'name'

  = label :user, :lastname, 'Apellido'
  = text_field :user, 'lastname'

  = label :user, :email, 'Email'
  = text_field :user, 'email'

  = label :user, :id_card, 'Ingrese el documento'
  = text_field :user, :id_card

  = label :user, :profile_image, 'Imagen de perfil'
  = text_field :user, 'profile_image'

  = submit_tag 'Guardar datos'

